/* Цвет основного  текста #757575 */

/* Вторичный цвет  */

/* Заголовки h1 h2 ... #212121 */

/* Белые заголовки and Color footer address #ffffff */

/* Футер номер тел и мейл rgba(255, 255, 255, 0.6); */

/* Цвет фона героя и футера #2f303a */

/* Фон Особенностей #e5e5e5 */

/* Фон Команды и кнопок Портфолио - третий фон - #f5f4fa */

/* Accent color #2196f3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --third-bg-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background: var(--white-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Logo colors Web + Studio*/

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  width: 145px;
  height: 31px;
  left: 227px;
  top: 24px;
}

.studio-header {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  width: 145px;
  height: 31px;
  left: 227px;
  top: 24px;
}

/* Site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

/*.site-nav .items {
  background-color: tomato;
} */

.site-nav .items:not(:last-child) {
  /* outline: 1px solid red;*/
  margin-right: 50px;
}

/* .items {
  background-color: tomato;
} */

/* .site-nav .item + .item {
  margin-left: 50px; } */

.site-nav .link {
  display: block;
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .items + .items {
  margin-left: 50px;
}

/* Header contacts */

.header-contacts {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/* Main-nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Hero */

.hero-title,
.hero-link {
  color: var(--white-text-color);
  letter-spacing: 0.06em;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.36;
  text-align: center;
}

.hero-link.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
}

.hero,
.foot {
  background-color: var(--secondary-bg-color);
}

.hero {
  box-sizing: border-box;
  padding-top: 260px;
  padding-bottom: 200px;
  margin-top: 0px;
  margin-bottom: 94px;
  text-align: center;
}

/* Особенности или Section-title */

.section-title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся и Наша команда */

.work-section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.work-title,
.team-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Section-nav */

.section-nav {
  display: flex;
}

.section-nav .item-work + .item-work {
  margin-left: 30px;
}

/* Workers */

.workers-title {
  margin-top: 30px;
  margin-bottom: 0px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.workers-specialization {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--third-bg-color);
}

/* Main-workers */
.main-workers {
  display: flex;
}

.main-workers .item-workers + .item-workers {
  margin-left: 30px;
}

/* Footer */

.studio-footer {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  width: 145px;
  height: 31px;
}

.footer-address {
  color: var(--white-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts {
  color: var(--footer-contacts-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Убрать маркеры */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.title-hidden {
  display: none;
}

/* why-list */
.why-list {
  display: flex;
}

.why-list .why-item + .why-item {
  margin-left: 30px;
}

/* :root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --third-bg-color: #f5f4fa;
} */

/* Portfolio */

/* Кнопки фильтров */

button {
  color: var(--title-text-color);
  background: var(--third-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  min-width: 73px;
  height: 38px;
  line-height: 1.62;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
}

button:hover,
button:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

/* Проекты */

.portfolio {
  margin-top: 94px;
}

.btn {
  margin: 0px 8px 50px;
}

.btn-right {
  margin: 0px 0px 50px;
}

.item {
  display: inline-block;
  width: 370px;
  height: 404px;
}

li.list {
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
  display: inline-block;
  border: 1px solid #eeeeee;
}

li.list:nth-child(3n) {
  margin-right: 0px;
}

li.list:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

/* Main-list */

.main-list {
  display: flex;
  justify-content: center;
}

.main-list .main-item + .main-item {
  margin-left: 8px;
}

/* List-portfolio */

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.list-portfolio .list {
  margin-right: 30px;
}

.list-portfolio .list:nth-child(3n) {
  margin-right: 0;
}

/* calc(100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке */

.list-portfolio :nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  
} */
h3.project-title {
  box-sizing: border-box;
  margin: 20px 24px 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-title {
  box-sizing: content-box;
}

.project {
  margin: 0px 24px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.foot .container {
  margin-top: 94px;
}

.foot {
  height: 252px;
}
